﻿@model a5pwt_ctvrtek.Application.ViewModels.Carts.IndexViewModel
@using a5pwt_ctvrtek.Application.Helpers;
@{
    ViewData["Title"] = "Index";
}

<h2>Košík pro @Model.UserEmail (id: @Model.UserID)</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Obrázek
            </th>
            <th>
                Množství
            </th>
            <th>
                Cena za kus
            </th>
            <th>
                Sleva
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <img class="product-thumbnail" src="@item.ImageUrl" alt="@item.ProductName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @{ decimal amount = item.Amount;
                        decimal price = item.Price * a5pwt_ctvrtek.Domain.Constants.Pricing.FirstClass;
                        decimal finalPrice = Helper.PricePerOne(amount, price);
                    }
                    @Html.DisplayFor(modelItem => finalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>
    Celkem: @Model.Total Kč
</h3>
@if (Model.CartItems.Count > 0 && Model.UserID.HasValue)
{
    <a asp-controller="Orders" asp-action="Create" class="btn btn-primary">Objednat</a>
}