﻿@model a5pwt_ctvrtek.Application.ViewModels.Products.ProductViewModel
@using  a5pwt_ctvrtek.Domain.Constants

@{
    ViewData["Title"] = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.ImageURL" alt="@Model.Name" style="max-height:200px;" />
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>

                    @Html.DisplayNameFor(model => model.Price)&gt; 00 Pcs &lt; 10 Pcs
                </dt>
                <dd>
                    @{decimal basePrice = Model.Price * Pricing.SecondClass; }
                    @Html.DisplayFor(model => basePrice)
                </dd>
                <!-- 10-20 -->
                <dt>
                    
                    @Html.DisplayNameFor(model => model.Price)&gt; 10 Pcs &lt; 20 Pcs
                </dt>
                <dd>

                    @{
                        decimal price1 = basePrice * Pricing.FirstClass;
                        price1.ToString("0.00");
                    }
                    @Html.DisplayFor(model => price1)

                </dd>
                <!-- 20-30 -->
                <dt>
                    @Html.DisplayNameFor(model => model.Price)&gt; 20 Pcs &lt; 30 Pcs
                </dt>
                <dd>
                    @{
                        decimal price2 = basePrice * Pricing.SecondClass;
                        price1.ToString("0.00");
                    }
                    @Html.DisplayFor(model => price2)
                </dd>
                <!-- 20-30 -->
                <dt>
                    @Html.DisplayNameFor(model => model.Price)&gt; 30 Pcs &lt; &#8734;&#8734;  Pcs
                </dt>
                <dd>
                    @{
                        decimal price3 = basePrice * Pricing.ThirdClass;
                        price1.ToString("0.00");
                    }
                    @Html.DisplayFor(model => price3)
                </dd>
            </dl>
        </div>
        <div class="col-md-2">
            <input class="form-control" type="number" value="1" />
            <button id="add-to-cart" data-id="@Model.ID" class="btn btn-primary">Přidat do košíku</button>
            <div class="alert alert-success" id="success-alert" style="display:none;">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Added!</strong>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
    $(document).ready(() => {
        $('#add-to-cart').click(addToCart);
    });

    function addToCart() {
        var id = $(this).data('id');
        var amount = $(this).closest('div').find('input').val();

        $.ajax({
            method: 'POST',
            url: '@Url.Action("AddToCart", "Carts")',
            data: {id: id, amount: amount},
            success: function () {
                $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                    $("#success-alert").slideUp(500);
                });
            }
        })
    }
    </script>
}